@import 'tailwindcss';

:root {
	--color-primary: #0e50a0;
	--color-dark-primary: #0e478e;
	--color-dark: #2a2a2a;
}

body {
	font-family: 'Poppins', sans-serif;
}

@layer utilities {
	.bg-primary {
		background-color: var(--color-primary);
	}
	.bg-darkPrimary {
		background-color: var(--color-dark-primary);
	}
	.bg-dark {
		background-color: var(--color-dark);
	}

	.text-primary {
		color: var(--color-primary);
	}
	.text-darkPrimary {
		color: var(--color-dark-primary);
	}
	.text-dark {
		color: var(--color-dark);
	}

	.border-primary {
		border-color: var(--color-primary);
	}
	.border-darkPrimary {
		border-color: var(--color-dark-primary);
	}
	.border-dark {
		border-color: var(--color-dark);
	}

	.hover\:bg-primary:hover {
		background-color: var(--color-primary);
	}
	.hover\:bg-darkPrimary:hover {
		background-color: var(--color-dark-primary);
	}
	.hover\:bg-dark:hover {
		background-color: var(--color-dark);
	}

	.hover\:text-primary:hover {
		color: var(--color-primary);
	}
	.hover\:text-darkPrimary:hover {
		color: var(--color-dark-primary);
	}
	.hover\:text-dark:hover {
		color: var(--color-dark);
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-left {
	animation: slide-left 0.3s ease-out forwards;
}
