@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

@theme {
	--color-main-primary: #0e50a0;
	--color-dark-primary: #0e478e;
	--color-dark: #2a2a2a;
	--color-yellow: #ed9e31;
	--color-light-yellow: #edc831;
	--color-green: #2fcb51;
	--color-gray: #acacac;
	--color-red: #ee4848;
}

@keyframes slide-left {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-left {
	animation: slide-left 0.3s ease-out forwards;
}

.ce-toolbar__content,
.ce-block__content {
	max-width: unset;
	width: 92% !important;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
	max-width: unset;
	height: unset !important;
}
